<!DOCTYPE html>
<html lang="en">

<head>

	<title>Kudobuzz Insights</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insights.css')}}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/base.js')}}"></script>
</head>

<body>
	<div class="wrapper">

		<aside class="sidebar">



				<ul class="main-nav">
					<li class="main-nav--active">
						<a class="main-nav__link" href="#" id="ravingFuns">
							<span class="main-nav__icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
							Raving Funs
						</a>
					</li>

					<li>
						<a class="main-nav__link" href="#" id="unsatisfied">
							<span class="main-nav__icon"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
							Unsatisfied Customers
						</a>
					</li>


					<li>
						<a class="main-nav__link" href="#" id="popularProducts">
							<span class="main-nav__icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
							Popular Products
						</a>
					</li>

					<li>
						<a class="main-nav__link" href="#" id="unpopularProducts">
							<span class="main-nav__icon"><i class="fa fa-minus" aria-hidden="true"></i></span>
							UnPopular Products
						</a>
					</li>

					<li>
						<a class="main-nav__link" href="#" id="userMostOrders">
							<span class="main-nav__icon"><i class="pe-7f-graph3"></i></span>
							Most orders
						</a>
					</li>
					<li>
						<a class="main-nav__link" href="#" id="account">
							<span class="main-nav__icon"><i class="pe-7f-graph3"></i></span>
							Account Lists
						</a>
					</li>
				</ul> <!-- /main-nav -->

		</aside> <!-- /sidebar -->

		<section class="content">

			<div data-tab-radio="tab-radio" class="tab-radio-content row" id="today">
					<div class="main-stats__stat col-md-3 col-sm-3">
						<h3 class="main-stats__title">Resume<br> of the day.</h3>
						<p class="main-stats__resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>

					</div> <!-- /col -->

				  <div class="main-stats__stat col-md-3 col-sm-3 col-xs-4">
						<div class="stat-circle">
							<h3>16k</h3>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
								<circle style="opacity:0.16;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" cx="46" cy="46" r="45"/>
								<path style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M84.839,68.718C88.749,62.049,91,54.289,91,46C91,21.147,70.853,1,46,1"/>
							</svg>
						</div> <!-- /stat-circle -->
						<h4 class="main-stats__subtitle">Total<br> balance<br>
							<span class="main-stats__resume">+ 43%</span>
						</h4>
					</div> <!-- /col -->

					<div class="main-stats__stat col-md-3 col-sm-3 col-xs-4">
						<div class="stat-circle">
							<h3>194</h3>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
							<circle style="opacity:0.16;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" cx="46" cy="46" r="45"/>
							<path style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M6.185,66.968C13.725,81.256,28.721,91,46,91c24.853,0,45-20.147,45-45C91,21.147,70.853,1,46,1"/>
							</svg>
						</div> <!-- /stat-circle -->
						<h4 class="main-stats__subtitle">New<br> members<br>
							<span class="main-stats__resume">+ 65%</span>
						</h4>

					</div> <!-- /col -->

					<div class="main-stats__stat col-md-3 col-sm-3 col-xs-4">
						<div class="stat-circle">
							<h3>76</h3>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
								<circle style="opacity:0.16;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" cx="46" cy="46" r="45"/>
								<path style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M91,46C91,21.147,70.853,1,46,1"/>
							</svg>
						</div> <!-- /stat-circle -->
						<h4 class="main-stats__subtitle">New<br> orders<br>
							<span class="main-stats__resume">+ 25%</span>
						</h4>
					</div> <!-- /col -->

				</div> <!-- row -->

				<div data-tab-radio="tab-radio" class="tab-radio-content row" id="yesterday">
					<div class="main-stats__stat col-md-3 col-sm-3">
						<h3 class="main-stats__title">Resume<br> of yesterday.</h3>
						<p class="main-stats__resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia illo earum est quisquam, atque non!</p>

					</div> <!-- /col -->

				  <div class="main-stats__stat col-md-3 col-sm-3 col-xs-4">
						<div class="stat-circle">
							<h3>19k</h3>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
								<circle style="opacity:0.16;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" cx="46" cy="46" r="45"/>
								<path style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M84.839,68.718C88.749,62.049,91,54.289,91,46C91,21.147,70.853,1,46,1"/>
							</svg>
						</div> <!-- /stat-circle -->
						<h4 class="main-stats__subtitle">Total<br> balance<br>
							<span class="main-stats__resume">+ 49%</span>
						</h4>
					</div> <!-- /col -->

					<div class="main-stats__stat col-md-3 col-sm-3 col-xs-4">
						<div class="stat-circle">
							<h3>184</h3>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
							<circle style="opacity:0.16;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" cx="46" cy="46" r="45"/>
							<path style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M6.185,66.968C13.725,81.256,28.721,91,46,91c24.853,0,45-20.147,45-45C91,21.147,70.853,1,46,1"/>
							</svg>
						</div> <!-- /stat-circle -->
						<h4 class="main-stats__subtitle">New<br> members<br>
							<span class="main-stats__resume">+ 61%</span>
						</h4>

					</div> <!-- /col -->

					<div class="main-stats__stat col-md-3 col-sm-3 col-xs-4">
						<div class="stat-circle">
							<h3>52</h3>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
								<circle style="opacity:0.16;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" cx="46" cy="46" r="45"/>
								<path style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M91,46C91,21.147,70.853,1,46,1"/>
							</svg>
						</div> <!-- /stat-circle -->
						<h4 class="main-stats__subtitle">New<br> orders<br>
							<span class="main-stats__resume">+ 15%</span>
						</h4>
					</div> <!-- /col -->

				</div> <!-- row -->


				<div class="row">



				</div> <!-- /row -->

				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-4" id="one"></div>

						<div class="col-xs-4" id="two"></div>

						<div class="col-xs-4" id="three"></div>
					</div>

				</div> <!-- /row -->





			<footer class="footer-brand">
				<!--<img src="img/logo_trim.png">-->
				<p>© 2016 Kudobuzz. All rights reserved</p>
				<!--<div id="coupon"> Coupon </div>-->
			</footer>


		</section> <!-- /content -->

	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.0.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.coupon.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/insights.js')}}"></script>
</body>

<!-- Mirrored from themes-pixeden.com/demos/glazzed/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jul 2016 14:15:17 GMT -->
</html>